/* .NavLink {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Syncopate', sans-serif;
    font-weight: lighter;
    font-size: 1.3em;
    padding: 0 20px;
    margin-top: 1em;
}

.NavLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.NavLink:hover::after {
    width: 100%;
    transition: width .3s;
} */